
:root{
    --purple: #cf4738;
    --red: #c0392b;
    --orange: #f39c12;
    --black: #333;
    --white: #fff;
    --light-color: #666;
    --light-white: #ccc;
    --light-bg: #f5f5f5;
    --border: 1px solid #333;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

*{
    font-family: 'Rubik', sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline: none;border: none;
    text-decoration: none;
    transition: all .2s linear;
}

*::selection{
    background: var(--purple);
    color: var(--white);
}

*::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track{
    background-color: transparent;
}

*::-webkit-scrollbar-thumb{
    background-color: var(--purple);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

section{
    padding: 3rem 2rem;
}
.message{
    position: relative;
    top: 0;
    margin: 0 auto;
    max-width: 100%;
    background-color: var(--light-white);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    gap: 1.5rem;
}
.message span{
    font-size: 2rem;
    color: var(--black);
    cursor: pointer;
}

.btn,
.option-btn,
.delete-btn,
.white-btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    cursor: pointer;
    color: var(--white);
    font-size: 1.8rem;
    border-radius: .5rem;
    text-transform: capitalize;
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover{
    background-color: var(--black);
}

.white-btn,
.btn{
    background-color: var(--purple);
}

.option-btn{
    background-color: var(--orange);
}
.delete-btn{
    background-color: var(--red);
}
@keyframes fadeIn {
    0%{
        transform: translateY(1rem);
        opacity: .2s;
    }
}

.form_container{
    min-height: 100vh;
    background-color: var(--light-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: none;
}

.form_container form{
    padding: 2rem;
    width: 50rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur('5px');
    text-align: center;
}

.form_container form h3{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: var(--white);
}

.form_container form .box {
    width: 100%;
    border-radius: .5rem;
    background-color: var(--light-bg);
    padding: 1.2rem 1.4rem;
    font-size: 1.8rem;
    color: var(--black);
    box-shadow: var(--box-shadow);
    margin: 1rem 0;
}

.form_container form p{
    padding-top: 1.5rem;
    font-size: 2rem;
    color: var(--white);
}

.form_container form p a{
    color: var(--purple);
}
.form_container form p a:hover{
    text-decoration: underline;
}

header .header-1{
    background-color: var(--light-bg);
}

header .header-1 .flex{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

header .header-2{
    background-color: var(--white);
    box-shadow: var(--box-shadow);
}

header .header-2.active{
    position: fixed;
    top: 0;left: 0;right: 0;
    z-index: 1000;
}


header .header-2 .flex{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

header .header-1 .flex .share a{
    font-size: 2.5rem;
    margin-right: 1.5rem;
    color: var(--black);
}

header .header-1 .flex .share a:hover{
    color: var(--purple);
}

header .header-1 .flex p{
    font-size: 2rem;
    color: var(--light-color);
}

header .header-1 .flex p a{
    color: var(--purple);
}

header .header-1 .flex p a:hover{
    text-decoration: underline;
}

header .header-2 .flex .logo{
    font-size: 2.5rem;
    color: var(--purple);
}

header .header-2 .flex .navbar a{
    margin: 0 1rem;
    font-size: 2rem;
    color: var(--light-color);
}

header .header-2 .flex .navbar a:hover{
    color: var(--purple);
    text-decoration: underline;
}

header .header-2 .flex .icons{
    display: flex;
}

header .header-2 .flex .icons > *{
    font-size: 2.5rem;
    color: var(--black);
    cursor: pointer;
    margin-left: 1.5rem;
}

header .header-2 .flex .icons > *:hover{
    color: var(--purple);
}

#menu-btn{
    display: none;
}


header .header-2 .flex .user-box{
    position: absolute;
    top: 120%;
    right: 2rem;
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    text-align: center;
    width: 30rem;
    display: none;
    animation: fadeIn .2s linear;
}

header .header-2 .flex .user-box.active{
    display: inline-block;
}

header .header-2 .flex .user-box p{
    font-size: 2rem;
    color: var(--light-color);
    margin-bottom: 1.5rem;
}

header .header-2 .flex .user-box p span{
    color: var(--purple);
}

header .header-2 .flex .user-box .delete-btn{
    margin-bottom: 0;
}


.home{
    min-height: 60vh;
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('images/home.jpg');
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .content{
    text-align: center;
    width: 70rem;
}

.home .content h3{
    font-size: 4rem;
    color: var(--white);
    text-transform: uppercase;
}

.home .content p{
    font-size: 2rem;
    color: var(--light-white);
    text-transform: uppercase;
    padding: 1rem 0;
    line-height: 2;
}

.products .box-container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    align-items: flex-start;
    gap: 1,5rem;
    justify-content: center;
}

.products .box-container .box{
    border-radius: .5rem;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    text-align: center;
    /*border: var(--border);*/
    margin: 10px;
    position: relative;
}

.products .box-container .box img{
    height: 30rem;
}

.products .box-container .box .name{
    padding: 1rem 0;
    font-size: 2rem;
    color: var(--black);
}

.products .box-container .box .qty{
    width: 100%;
    padding: 1.2rem 1.4rem;
    box-shadow: var(--box-shadow);
    margin: 1rem 0;
    font-size: 2rem;
}

.products .box-container .box .price{
    position: absolute;
    top: 1rem;left: 1rem;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 2.5rem;
    color: var(--white);
    background: var(--red);
}


.footer{
    background: var(--light-bg);
}

.footer .box-container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
}

.footer .box-container .box h3{
    text-transform: uppercase;
    color: var(--black);
    font-size: 2rem;
    padding-bottom: 2rem;
}

.footer .box-container .box p,
.footer .box-container .box a{
    display: block;
    font-size: 1.7rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box p i,
.footer .box-container .box a i{
    color: var(--purple);
    padding-right: .5rem;
}

.footer .box-container .box a:hover{
    color: var(--purple);
    text-decoration: underline;
}

.footer .credit{
    text-align: center;
    font-size: 1.5rem;
    color: var(--light-color);
    border-top: var(--border);
    margin-top: 2.5rem;
    padding-top: 2.5rem;
}

.footer .credit span{
    color: var(--purple);
}





/* media queries */

@media (max-width:991px){
    html{
        font-size: 55%;
    }
}

@media (max-width:768px){
    #menu-btn{
        display: inline-block;
    }
    .header .header-2 .flex .navbar{
        position: absolute;
        top: 99%; left: 0;right: 0;
        background-color: var(--white);
        border-top: var(--border);
        border-bottom: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .header-2 .flex .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .header-2 .flex .navbar a{
        display: block;
        margin: 2rem;
    }
    .home .content h3{
        font-size: 3.5rem;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
}